{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App name" %}{% endblock title %}
{% block header %}
	
{% endblock header %}
{% block content %}
	<div class="jumbotron">
		<div class="row justify-content-center">
			<div>
				<h1>Компьютерлік графиканың қашықтан курсын әзірлеу</h1>
				<hr>
				<p>Компьютерлік графика – компьютерлік технологиялар бейнелерді жасауға, сондай-ақ көрнекі ақпаратты өңдеуге қолданылатын қызмет саласы.</p>
				<p>Компьютерлік графиканы қолданудың басталуы ғылыми және өндірістік есептерді шешу үшін пайдаланылған алғашқы ұрпақтардың ЭЕМ-нің қолданылуымен байланысты. Бұл компьютерлер бүкіл ғимараттарды алып жатты және олардың өнімділігі қазіргі дербес компьютерлерден әлдеқайда төмен болды. Осыған қарамастан, бұл өз уақытында ғылыми есептеулерді ғана емес, сонымен қатар олардың нәтижелерін графикалық өңдеуді - графиктерді, диаграммаларды және сызбаларды құруға мүмкіндік беретін озық технологиялар болды. Бүгінде ғылыми компьютерлік графика алға қадам басты: ол виртуалды эксперименттер жүргізуге, олардың барысы мен нәтижелерін көзбен бақылап отыруға мүмкіндік береді.</p>
				<p>Іскерлік компьютерлік графика олардың өзара байланысының әртүрлі экономикалық көрсеткіштерін көрнекі түрде көрсетуге мүмкіндік береді. Оны бизнесте қолдану күрделі экономикалық қатынастарды диаграммалар мен графиктердің түсінікті тіліне аудара отырып, әртүрлі құрылымдық бөлімшелер мен иерархиялық құрылымдардың өзара әрекетін жеңілдетеді.</p>
				<p>Инженерлік графика – инженерлер мен дизайнерлер жаңа техникалық өнімдерді жасау үшін қолданатын құрал.</p>
				<p>Аталғандардан басқа компьютерлік графиканың иллюстрациялық, көркемдік, жарнамалық, компьютерлік анимация және мультимедиялық түрлері де бар.</p>
				<p>Техникалық тұрғыдан компьютерлік графика екі өлшемді және үш өлшемді болып бөлінеді.</p>
				<p>Ақпараттық технологиялардың дамуы, олардың біздің өміріміздің барлық аспектілеріне енуі компьютерлік графикаға сұранысты айтарлықтай арттырды, өйткені оның нәтижелерін бұрынғыдай мамандардың шектеулі шеңбері емес, барлық дерлік адамдар пайдаланады. компьютерлермен, мобильді құрылғылармен өзара әрекеттесу, компьютерлік ойындарға және киноиндустриясының заманауи өндірістеріне қызығушылық танытады.</p>
				<p>Бүгінгі таңда компьютерлік графиканы қоғамға орасан зор ықпал ететін өнердің ең маңызды түрлерінің бірі деп айтуға болады деп нық сеніммен айта аламыз.</p>
			</div>
		</div>
	</div>
	
{% endblock content %}

